@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav,
.nav-items{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}
.nav-items{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: rgb(76, 76, 76);
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(79, 79, 79);
}
.logo{
    font-size: 1.3rem;
    background: black;
    background-clip: text;
    color: transparent;
}
.logo:hover{
    cursor: default;
}
#secondary-nav{
    display: none;
}
.secondary-menu{
    position: relative;
    display: inline-block;
}
.menu-items{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-items a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5 rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-items li:last-child:hover a{
    font-weight: 900;
    color: rgb(184, 0, 126);
    text-decoration: none;
}
.menu-items li{
    list-style: none
}
.menu-items.open{
    max-height: 300px;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 80vh;
}
.profile_pic_container{
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto 0;
}
.section_text{
    font-size: 1.25rem;
    align-self: center;
    text-align: center;
}
.section_text_p1{
    font-size: 1.1rem;
    text-align: center;
}
.section_text_p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(to right, rgb(184, 0, 126) ,rgb(19, 177, 208));
    background-clip: text;
    color: transparent;
}
.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.socials-icon{
    color:rgb(0, 2, 3);
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s;;
}
.socials-icon:hover {
    color: rgb(45, 151, 144);
    transform: scale(1.1);
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn1{
    color: rgb(0, 0, 0);
    background-color: rgb(246, 246, 246);
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
}
.btn1:hover{
    color: white;
    background-color: rgb(19, 177, 208);
}
.btn2{
    background-color:rgb(184, 0, 126);
    color: white;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
}
.btn2:hover{
    background-color: rgb(255, 244, 251);
    color: rgb(0, 0, 0);
}

#about{
    position: relative;
}
.about-container{
    gap: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-container,
.about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 3rem;
}
.icon-arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    font-size: 1.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: rgb(254, 254, 254);
    border-radius: 2rem;
    border: none;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(96, 96, 96, 0.1);
}
.section-container{
    gap: 5rem;
    height: 80%;
}
.section_pic-container{
    display: flex;
    height: 450px;
    width: 450px;
    margin: auto 0;
}

#blogs{
    position: relative;
}
.color-container{
    border-color: grey;
    background: rgb(252, 252, 252);
}
.project-img{
    border-radius: 2rem;
    width: 100%;
    height: 90%;
}
.project-title{
    margin: 1rem;
    color: black;
}
.project-title-details {
    color: rgb(78, 78, 78);
    font-weight: lighter;
    margin-bottom: 1rem;
}
#newsletter{
    text-align: center;
    position: relative;
}
#newsletter h2 {
    margin-top: 12rem;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}
.details {
    padding: 2rem;
    font-size: 16px;
}
#contact{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    height: 70vh;
}
.contact-info-main-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border:none;
    background: rgb(254, 254, 254);
    box-shadow: 0px 1px 10px rgba(96, 96, 96, 0.1);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.9rem;
}
.contact-info-container p{
    font-size: 1rem;
}
footer{
    height: 26vh;
    margin: 0 1rem;
}
footer p{
    text-align: center;
}
footer p::after {
    content: "®️";
    color:  rgb(0, 0, 0);
}
.contact-container{
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left h6{
    font-weight: 500;
}
.background-pic{
    position: relative;
    height: 400px;
    right: -10rem;
}
hr{
    border: none;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(184, 0, 126) ,rgb(19, 177, 208))
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    background: rgb(254, 254, 254);
    box-shadow: 0px 1px 10px rgba(96, 96, 96, 0.1);
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid ;
}
.contact-inputs:valid{
    border-color: green;
}
.contact-inputs:invalid{
    border-color: rgb(184, 0, 126);
}
.contact-inputs::placeholder{
    color: rgb(183, 183, 183);
}

#blogPage{
    height: 80vh;
    text-align: center;
}
.blogPage_title{
    margin-top: 4rem;
    font-size: 12rem;
    opacity: 0; 
    transform: translateY(-100%);
    animation: slideDown 3s ease forwards; 
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.blogPage_sub{
    margin-bottom: 6rem;
    font-weight: 350;
    font-size: 1rem;
    transform: translateY(-100%);
    animation: slideDown 8s ease forwards; 
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.blogPage_diveBtn{
    margin-top: 2rem;
    transform: translateY(-100%);
    animation: slideUp 4s ease forwards; 
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
#blogOne{
    position: relative;
    height: 110vh;
}
.blogPage_details_title{
    text-align: center;
    background: linear-gradient(to right, rgb(184, 0, 126) ,rgb(19, 177, 208));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: 800;
}
.blogPage_details_subtitles{
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 500;
}
.blogPage_details{
    list-style: none;
    margin-top: 0.3rem;
    font-weight: 100;
    font-size: 1.1rem;
}
#blogTwo{
    position: relative;
}
#blogThree{
    position: relative;
}
.footer_secondary{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}
.footer_secondary p::after {
    content: "®️";
    color:  rgb(0, 0, 0);
}
.blog_Topto{
    font-size: 2rem;
    padding: 3rem;
    color: rgb(205, 205, 205);
}
.blog_Topto:hover{
    cursor: pointer;
    color: rgb(19, 177, 208);
}
@media screen and (max-width: 1200px){
    #nav{
        display: none;
    }
    #secondary-nav{
        display: flex;
    }
}
@media (max-width: 600px) {
    .logo{
        font-size: 1rem;
    }
    nav {
        font-size: 0.8rem;
    }
    #profile{
        height: 75vh;
        flex-wrap: wrap;
        padding: 0rem;
    }
    #profile .profile_pic_container{
        justify-content: center;
        margin-top: -1rem;
        height: 55vh;
        width: 55vw;
    }
    #profile .section_text{
        margin-top: -3rem;
        font-size: 0.9rem;
    }
    #profile .title{
        font-size: 1.865rem;
    }
    #profile .section_text_p2{
        font-size: 1.1rem;
    }
    #about {
        margin: 0;
    }
    #about .section-container {
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center; 
        align-items: center;    
    }
    #about .section_pic-container {
        height: 50vh;
        width: 30vw;  
        justify-content: center;
    }
    
    #about .section_text_p1{
        font-size: 0.8rem;
        margin-top: 2rem;
    }
    #about .title{
        font-size: 1.85rem;
    }
    #about .about-container{
        margin-top: -2.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        padding-inline: 1rem;
    }
    #about .text-container{
        font-size: 0.9rem;
        font-weight: 300;
        padding-inline: 1rem;
    }
    #blogs{
        margin: 0;
        margin-top: 29rem;
    }
    #blogs .about-container {
        flex-wrap: wrap;
        padding-inline: 1rem;
    }
    #blogs .title{
        font-size: 1.85rem;
    }
    #blogs .section_text_p2{
        font-size: 1rem;
    }
    #newsletter{
        margin: 0;
        margin-top: 1rem;
    }
    #newsletter .title{
        font-size: 1.85rem;
        margin-bottom: 2.5rem;
    }
    #newsletter .section_text_p2{
        font-size: 1rem;
    }
    #newsletter .details{
        font-size: 0.9rem;
    }
    #newsletter h2{
        margin-top: 0.1rem;
    }
    #contact{
        height: 80vh;
        margin: 0;
        margin-top: -6rem;
    }
    #contact .title{
        font-size: 1.85rem;
        margin-bottom: 5rem;
    }
    #contact .section_text_p2{
        font-size: 1rem;
    }
    .contact-info-main-container{
        flex-wrap: wrap;
        box-shadow: none;
        color: white;
    }
    .contact-info-container{
        align-items: center;
    }
    footer .nav-items-container{
        flex-wrap: wrap;
    }
    #about .icon-arrow {
        display: none;
    }
    #blogs .icon-arrow {
        display: none;
    }
    #newsletter .icon-arrow {
        display: none;
    }
    footer .nav-items{
        font-size: 0.9rem;
    }
    footer p{
        font-size: 0.7rem;
    }
    .contact-right {
        display: none;
    }
    .contact-inputs{
        width: 74vw;
    }
    #newsletterPage .title{
        margin-top: -3rem;
    }
    .footer_secondary p{
        font-size: 0.7rem;
    }
    #newsletterPage{
        margin: 0;
        height: 83vh;
    }
    #blogPage{
        height: 83vh;
        margin: 0;
    }
    #blogPage h1{
        margin-top: 7rem;
        font-size: 5rem;
    }
    #blogPage p{
        font-size: 0.6rem;
    }
    #blogPage .blogPage_diveBtn{
        margin-top: 5rem;
    }
    #blogOne{
        padding-inline: 1rem;
        margin: 0;
    }
    #blogTwo{
        padding-inline: 1rem;
        margin: 0;
    }
    #blogThree{
        padding-inline: 1rem;
        margin: 0;
    }
    .blogPage_details_title{
        font-size: 1.15rem;
    }
    .blogPage_details_subtitles{
        font-size: 0.95rem;
    }
    .blogPage_details{
        font-size: 0.75rem;
    }
    code{
        font-size: 0.6rem;
    }
    .secondary-menu .menu-items{
        background-color: transparent;
    }
}    